extends javascript
# comment
# snippet <trigger> <description>
# <snippet-body>
# snippet if C-style if
# if ($1)
# 	$0
# snippet tuse "useState"
# 	const [${1}, use${2}] = useState('')
# 	${0}
# snippet tuse "useState"
# 	const [${1:state}, set${2}] = useState(${3:initialState});
